[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-quotes = "*"
flake8-docstrings = "*"
flake8-builtins = "*"
flake8-blind-except = "*"
flake8-use-fstring = "*"
pep8-naming = "*"
black = "*"
isort = "*"
pytest = "*"
tox = "*"

[packages]
numpy = "*"
scipy = "*"
opencv-contrib-python = "*"
rtree = "*"
penkit-optimize = "*"
flask = "*"

[pipenv]
allow_prereleases = true

[packages.blackstripes]
git = "https://github.com/fullscreennl/blackstripes-python-extensions"
editable = true
subdirectory = "src"
