[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-quotes = "*"
flake8-docstrings = "*"
flake8-builtins = "*"
flake8-blind-except = "*"
flake8-use-fstring = "*"
pep8-naming = "*"
black = "*"
isort = "*"
pytest = "*"
tox = "*"
pylint = "*"

[packages]
numpy = "*"
scipy = "*"
opencv-contrib-python = "*"
rtree = "*"
penkit-optimize = "*"
flask = "*"
svgpathtools = "*"
pillow = "*"

[pipenv]
allow_prereleases = true

[packages.hatched]
git = "https://github.com/abey79/hatched.git"

[packages.blackstripes]
git = "https://github.com/fullscreennl/blackstripes-python-extensions"
editable = true
subdirectory = "src"

[packages.vpype]
git = "https://github.com/abey79/vpype.git"
editable = true
