[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-quotes = "*"
flake8-docstrings = "*"
flake8-builtins = "*"
flake8-blind-except = "*"
flake8-use-fstring = "*"
pep8-naming = "*"
isort = "*"
pytest = "*"
tox = "*"
pylint = "*"
jupyter = "*"

[packages]
numpy = "*"
scipy = "*"
opencv-contrib-python = "*"
Rtree = "*"
penkit-optimize = "*"
Flask = "*"
Pillow = "*"

[pipenv]
allow_prereleases = true

[packages.svgpathtools]
git = "https://github.com/mathandy/svgpathtools.git"
editable = true
