<html>
    <body style="background-color:#331122;">
        <!--<img style="position: absolute; right: 50%; top: 50%; transform: translate(50%, -50%); width: 99em; opacity: 1;" src="../../tmp/img-3-spiral.svg" />-->
        <img style="position: absolute; right: 50%; top: 50%; transform: translate(50%, -50%); width: 100em; opacity: 1;" src="../../tmp/img-0-spiral.svg" />
        <img style="position: absolute; right: 50%; top: 50%; transform: translate(50%, -50%); width: 100.5em; opacity: 1;" src="../../tmp/img-1-spiral.svg" />
        <img style="position: absolute; right: 50%; top: 50%; transform: translate(50%, -50%); width: 99.5em; opacity: 1;" src="../../tmp/img-2-spiral.svg" />
    </body>
</html>