<html>
    <body style="background-color:#ffffff;">
        <div id="vector-image">
            <!--<img style="position: absolute; right: 50%; top: 50%; transform: translate(50%, -50%); width: 99em; opacity: 1;" src="../../tmp/img-3-spiral.svg" />-->
            <img style="position: absolute; right: 50%; top: 50%; transform: translate(50%, -50%); width: 100em; opacity: 1;" src="../../tmp/img-0.svg" />
            <img style="position: absolute; right: 50%; top: 50%; transform: translate(50%, -50%); width: 100.5em; opacity: 1;" src="../../tmp/img-1.svg" />
            <img style="position: absolute; right: 50%; top: 50%; transform: translate(50%, -50%); width: 99.5em; opacity: 1;" src="../../tmp/img-2.svg" />
        </div>
        <div id="camera">
            <video id="camera-preview" style="margin: 0px auto;" width="10em" height="10em" autoplay></video>
        </div>
    </body>

    <script>
        var video = document.querySelector("#camera-preview");

        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
                video.srcObject = stream;
                video.play();
            });
        }
    </script>
</html>